.textWhite {
    color: white;
}
.textGrey {
    color: #8e8e8e;
}
.textPrimary {
    color: #c55201;
}

.formControlCustom {
    background-color: transparent;
    color: #c3c3c3;
    border-color: #8e8e8e;
    padding: 10px;
    border-radius: 15px;
}
.formControlCustom:focus {
    background-color: transparent;
    border-color: #8e8e8e;
    color: white;
}
.formControlCustom::placeholder {
    color: #8e8e8e;
    font-size: 17px;
}
.bgBlack {
    background-color: #121519;
}
.btnLogin {
    background-color: #c55201;
    color: white;
    border: none;
    padding: 13px 20px;
    border-radius: 15px;
    cursor: pointer;
}
.btnLogin:hover {
    background-color: #9c4100;
}
/* Estilo general para el contenedor */
.container {
    max-width: 100%; /* Asegúrate de que el contenedor no exceda el ancho de la pantalla */
    padding: 0 30px; /* Agrega un relleno a los lados del contenedor */
}

/* Para pantallas de 768px en adelante */
@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

/* Para pantallas de 992px en adelante */
@media (min-width: 992px) {
    .container {
        max-width: 900px;
    }
}

/* Para pantallas de 1200px en adelante */
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

/* Para pantallas de 1400px en adelante */
@media (min-width: 1400px) {
    .container {
        max-width: 700px;
    }
}

.imageContainer {
    position: relative;
    width: 50%;
    height: 100%;
}

.imageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Color negro con opacidad (ajusta el valor de opacidad según tus necesidades) */
    pointer-events: none; /* Asegura que el pseudo-elemento no interfiera con los eventos del usuario */
    z-index: 1; /* Asegura que la capa oscura esté sobre la imagen */
}

.fullWidthHeight {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
    z-index: 0; /* Asegura que la imagen esté debajo de la capa oscura */
}
